<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setting alarm</title>
</head>
<body>

<div id="test">
    {% if code %}
      <h1>Hello {{ code }}!</h1>
    {% else %}
      <h1>Hello, World!</h1>
    {% endif %}
</div>

</body>
</html>